body {
  background: url(../images/skbg.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.left {
	margin: 0;
    padding: 0;
    font-size: 100%;
    background: #222;
    overflow: hidden;
    height: 100%;
    float:left;
}

.links {
	color: white;
	list-style-type: none;
}

.w3-sidebar {
background: rgb(128, 203, 196);
background-image: url(../images/bg_pattern.png); 
opacity: 0.8; 
}

.w3-button:hover{
	color:#000!important;
	background-color:lightgreen!important;
}

#openNav {
  position: fixed;
}

.copyright {
	text-decoration: none;
	vertical-align: bottom;
}

.logo {
  color: white;
}

.ceo {
width: 98%;
height: auto;
background-color: white;

-webkit-clip-path: polygon(19% 0, 100% 0, 81% 100%, 0% 100%);
clip-path: polygon(19% 0, 100% 0, 81% 100%, 0% 100%);
border-width: 5px;
border-style: solid;
border-color: lightgreen;

opacity: 0.8; 
}

.work {
width: 98%;
height: auto;
background-color: white;

border: 5px;
border-style: solid;
border-color: lightgreen;

-webkit-clip-path: polygon(19% 0, 100% 0, 81% 100%, 0% 100%);
clip-path: polygon(19% 0, 100% 0, 81% 100%, 0% 100%);

opacity: 0.8; 
}

.info {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    background-color: rgb(80, 182, 208);
    border-color: rgb(80, 182, 208);
}

.des {
  color: rgb(90, 145, 208);
}

.pdes {
  font-size: 12px;
}

.img1 {
  width: 98%;
  height: 300px;
  background-image: url("../images/div/1.png");
  background-position: center;
  -webkit-clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
  clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
}

.img2 {
  width: 98%;
  height: 300px;
  background-image: url("../images/div/2.png");
  background-position: center;
  -webkit-clip-path: polygon(0 1%, 81% 0, 100% 100%, 19% 100%);
  clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
}

.img3 {
  width: 98%;
  height: 300px;
  background-image: url("../images/div/3.png");
  background-position: center;
  -webkit-clip-path: polygon(0 1%, 81% 0, 100% 100%, 19% 100%);
  clip-path: polygon(0 0, 81% 0, 100% 100%, 19% 100%);
}

.buttons {
  color: white;
  background-color: teal;
  font-size: 20px;
}

.buttons:hover {
  font-size: 25px;
}

.links {
  text-decoration: none;
}

.textli {
  color: teal;
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 98%;
    height: auto;
    background-color: transparent;
    color: white;
    text-align: center;
}

.tos {
  background-color: rgba(255,255,255,0.38);
  color: black;
  width: 80%;
  height: auto;
  font-weight: bold;
  text-align: left;

  border-radius: 25px;
  border: 5px solid white;
  padding: 20px; 
}

.smaller {
  font-size: 12px;
}