:root {
    --backgroundColor: #192533;
    --subBackgroundColor: #131E2A;
    --navbarColor: #1F3044;
    --navbarBorder: #008FF7;
    --introTextColor: #1f1f1f;
    --textColor: #E5E5E5;
    --lightTextColor: #FFFFFF;
    --darkBlueTextColor: #33A9FF;
    --aboutMeCardColor: #2F4765;
    --aboutMeHoverColor: #2A405B;
    --subTextColor: #5B728C;
}