:root {
    --backgroundColor: #f1f1f1;
    --subBackgroundColor: #dfdfe3;
    --navbarColor: #f8f8f8;
    --navbarBorder: #6DAFFE;
    --introTextColor: #1f1f1f;
    --textColor: #1f1f1f;
    --lightTextColor: #EDF6FF;
    --darkBlueTextColor: #437FC7;
    --aboutMeCardColor: #6DAFFE;
    --aboutMeHoverColor: #356bb4;
    --subTextColor: #656565;
}