@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

* {
    padding: 0;
    margin: 0;
    transition: all 0.25s ease-in-out;
}

body {
    width: 100%;
    height: auto;
    min-height: 100%;
    font-family:Helvetica,Arial,Tahoma,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: var(--backgroundColor);
    color: var(--textColor);
}

.intro-div {
    background-image: url("./../images/bg2.png");
    border-bottom: 4px solid var(--backgroundColor);
}

.hr {
    border-bottom: 1px solid var(--textColor);
    width: 80%;
    opacity: 0.2;
    margin: 8px 0;
}

.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}